@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .table-weapons-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%; /* Ensures it respects the parent's width */
  }

  @media (max-width: 1024px) {
    .table-weapons-truncate {
      max-width: 14rem; /* Adjust width for medium screens */
    }
  }

  @media (max-width: 768px) {
    .table-weapons-truncate {
      max-width: 12rem; /* Smaller width for smaller screens */
    }
  }

  @media (max-width: 640px) {
    .table-weapons-truncate {
      max-width: 7rem; /* Truncate more on very small screens */
    }
  }

  @media (max-width: 440px) {
    .table-weapons-truncate {
      max-width: 5rem; /* Truncate more on very small screens */
    }
  }

  @media print {
    .print-reset {
      max-width: none !important;
      width: auto !important;
      padding: 0 !important;
    }
    .print-fighter-card {
      width: 630px;
      height: 435px;
      break-inside: avoid;
      display: inline-block; /* ios workaround for break-inside: avoid */
      background-image: none !important;
      box-shadow: none !important;
    }
    .print-fighters {
      max-width: 100%;
      zoom: 0.55;
    }
    .table-weapons th, .table-weapons td {
      padding: 1px !important;
      padding-left: 2px !important;
    }
    .table-weapons-truncate {
      max-width: 10rem; /* Smaller width for smaller screens */
    }

    html {
      zoom: 1;
    }
  }
}

/* tailwindcss fix for Firefox */
@layer base {
  option, optgroup {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 100%;
    font-weight: 400;
    line-height: normal;
    color: #0a0a0a;
  }
}
